body {
    font-family: Arial;
    background: #f4f6f9;
}

.container {
    width: 400px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    margin: 6px 0;
    padding: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #1e40af;
}
