<!DOCTYPE html>
<html>
<head>
    <title>CGPA Predictor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>CGPA Prediction</h1>

    <input id="study_hours" placeholder="Study Hours per Week(0-25)">
    <input id="attendance" placeholder="Attendance(0-100)">
    <input id="consistency" placeholder="Academic Consistency(0-10)">
    <input id="self_study" placeholder="Self Study(0-10)">
    <input id="sleep" placeholder="Sleep Hours(0-10)">
    <input id="stress" placeholder="Study Stress(0-10)">
    <input id="time_management" placeholder="Time Management(0-10)">
    <input id="participation" placeholder="Class Participation(0-10)">
    <input id="screen_time" placeholder="Screen Time(0-10)">
    <input id="motivation" placeholder="Motivation Level(0-10)">

    <button onclick="predict()">Predict CGPA</button>

    <h2 id="prediction"></h2>

    <div id="feedback_box" style="display:none;">
        <input id="expected_cgpa" placeholder="Expected CGPA (Your Feedback)">
        <button onclick="submitFeedback()">Submit Feedback</button>
        <p id="status"></p>
    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
